@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: block;          /* wichtig: kein flex-centering */
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth; /* optional, nice UX */
}

#root {
  min-height: 100%;
}
